:root {
    --primary-color: rgb(95, 95, 133);

    --primary-shadow: rgb(71, 71, 71);
    --secondary-shadow: rgb(27, 27, 27);

    --background-color: rgb(43, 43, 59);

    /* --font-color: rgb(238, 238, 238); */
    --font-color: rgb(34, 34, 34);
}

/* Credits: https://www.nihilist.org.uk/ */
@font-face {
    font-family: 'KanjiStrokeOrders';
    src: url('../fonts/KanjiStrokeOrders_v4.004.ttf');
}

@font-face {
    font-family: 'KazukiReiwa';
    src: url('../fonts/KazukiReiwa - Regular.ttf');
}

@font-face {
    font-family: 'ackaisyo';
    src: url('../fonts/ackaisyo.ttf');
}


html {
    font-size: 16px;
    /* 1rem = 16px */
}

body {
    /* background-image: url('../images/backgrounds/summer_anim.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--background-color);

    padding: 0;
    margin: 0;

    font-family: ackaisyo, sans-serif;
    color: var(--font-color);
}

p {
    margin: 0;
    font-size: 2rem;
}

.hidden {
    display: none !important;
}

.kanji_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--font-color);

    height: 10vh;
}

.kanji_list>span {
    font-size: 2.5rem;
    color: var(--font-color);
}

.start_button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    height: 10vh;
}

.content_index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;

    width: 80%;
}

.content_column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: transparent;

    height: 100%;
}

.content_column_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 2rem;
    color: var(--font-color);
}

.content_column_title_furigana {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 1rem;
    color: var(--font-color);
}












.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-color: transparent;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 5rem;
    color: var(--font-color);

    background-color: transparent;

    height: 20vh;
}

.title_small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 3.5rem;
    color: var(--font-color);

    background-color: transparent;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
}

/* End elements */
.end_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3vh;
    padding: 1vh;
}

.results_container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.answers_counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 3vh;
    padding: 1vh;

    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10px;
}

.answer_counter>div {
    padding: 1vh;
}

.answers_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;

    flex-wrap: wrap;

    width: 80vw;
}

.answers_container>div {
    margin: 0.2vh;
    width: 100%;
}

.incorrect_data {
    padding: 1vh;

    font-size: 2rem;

    border: 1px solid black;
    background-color: var(--primary-color);
}

.kanji_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

label {
    margin: 0;
    font-size: 1rem;

    color: var(--font-color);
}

input[type="text"] {
    font-size: 2rem;
    margin-left: 2vh;

    width: 65%;
}