.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkboxes_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 2px solid black;
    border-radius: 10px;

    padding: 1vh;
    background-color: var(--primary-color);
}

.floating_button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.counter_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: var(--font-color);

    margin: 2vh;
}

/* Start elements */
.button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1.5vh;
}

.button_column_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vh;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1.5vh;

    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh 0vw;

    justify-content: center;
    font-size: 2rem;
    background-color: var(--primary-color);

    width: 95vw;
}

.element_container {
    display: grid;
    place-items: center;

    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10px;

    width: auto;
    min-width: 30vw;

    padding: 0.5vw 0.5vh;
}

.question_element,
.img_element {
    grid-column: 1;
    grid-row: 1;
}


.question_show_strokes {
    font-size: 7rem !important;
    font-family: "KanjiStrokeOrders" !important;
}

.question_element {
    z-index: 2;

    font-size: 5rem;
}

.img_element {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 1;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.correct_answer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5vh;

    border: 2px solid black;
    border-radius: 10px;
    padding: 1vh 0vw;

    background-color: var(--primary-color);

    width: 95vw;
}

.correct_answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 1.5vh;
    padding: 1vh 0vw;
}

.correct_answer_question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
}

.correct_answer_yomi {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    font-size: 1.4rem;
    margin-left: 2vh;
}

.correct_answer_meanings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    margin: 1.5vh;
}