
input[type=radio] {
    display: none;
}

.radioConfig {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.radioConfig::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.radioConfig::after {
    background: var(--primary-color);
    border-radius: 50%;
    content: '';
    display: block;
    height: 10px;
    left: 9px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale3d(.3, .3, 1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 10px;
}

input[type=radio]:checked+.radioConfig::before {
    border-color: #666;
}

input[type=radio]:checked+.radioConfig::after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}