:root {
    --hinomaru: #D94A45;    /* Sun */
    --skyhigh: #BFD1DC;     /* Sky gradient */
    --skymedium: #C7D6DD;   /* Sky gradient */
    --skylow: #E16B5C;      /* Sky gradient */
    
    /* Winter */
    --asahiiro: #F2C6A0;    /* Sky gradient. Fuyuzora → Asahi-iro */

    --fuyuzora: #B9CCD9;    /* Back hill */
    --setsugen: #D6E1E8;    /* Middle hill */
    --usuzora: #E6EEF2;     /* Front hill */

    --shiroyuki: #F5F7F6;   /* Snow / details */
    --aonibi: #7A8C99;      /* Shadows at 5–10 % opacity */
    
    /* Spring */
    --haruzora: #DDEFF5;    /* Sky */

    --okuoka_haru: #DDE8DB;     /* Back hills */
    --temaeoka_haru: #C9D8C5;   /* Front hills */

    --sakuramiki: #9FAFB0;      /* Sakura trunk and branches */
    --usuzakura: #E8B7C6;       /* Copa / masa de flores */

    --sakurashiro: #F7F3F4;     /* Light petals */

    --kasumikage: #9FAFB0;  /* Shadows at 5–10 % opacity */

    /* Summer */
    --tsuyuzora: #DDE8ED;   /* Sky during the rainy season */
    --natsuzora: #CFE6EC;   /* Clear summer sky */

    --kumo: #F5F7F4;    /* White clouds in motion */
    --ame: #8CB3C6;     /* Light rain particles. Use with low opacity. */
    
    --natsugasumi: #B4CBD2;     /* Mountains */
    --okuoka_natsu: #BFD6CC;    /* Back hills */
    --temaeoka_natsu: #AFCFC1;  /* Front hills */

    --aonibi: #6F8590;  /* Shadows at 5–10 % opacity */

    /* Fall */
    --akizora: #E6DCCF; /* Sky */

    --akiiwa: #9B8F7A;          /* Mountains */
    --okuoka_aki: #E0D3C1;      /* Back hills */
    --temaeoka_aki: #CBB79D;    /* Front hills */

    --momijimiki: #7B6A58;  /* Momiji trunk and branches */
    --momijiiro: #B36A5E;   /* Main momiji leaves color */
    
    --koyoiro: #C49A6C;     /* Momiji leaves secondary color */
    --kazekage: #7B6A58;    /* Shadows and wind at 5–10 % opacity */
}